canvas {
    border: 1px solid black;
}


body {
    background-image: url('../media/images/1000_F_278490728_m8kjSGy7JeiSYbjv7CH8TOtHw9HvrNfT.jpg'); 
    background-repeat: repeat;
    background-size: 150px, 150px;
    color: white;
    margin: 0px; /* Remove default margin */
    padding: 0px; /* Remove default padding */
    
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.aspect-ratio-container {
    position: relative;
    width: 100%;
    overflow: auto; /* Make content scrollable */
}
.title {
    text-align: center;
    font-size: 950%;
    margin-top: 10px; /* Adjust top margin as needed */
    font-family: 'VT323', monospace;
}

.image_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 500px; /* Add padding for spacing */
}
.doom, .wolf, .mk {
    width: 30%; /* Adjust as needed */
    height: 42%; /* Maintain aspect ratio */
    top: 10%; /* Adjust top position */
    left: 10%; /* Adjust left position */
    border-width: 10px;
    border-style: groove;
    border-color: silver;
    z-index: 1;
    transition: opacity 2s;
    max-width: 20%;
    max-height: 45%;
    position: absolute;
    order: 1;
}
.doom_quote, .wolf_quote, .mk_quote, .nt_quote {
    position: absolute;
    top: 10%; /* Adjust top position */
    left: 10%; /* Adjust left position */
    background-color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 5px;
    color: black;
    z-index: 0;
    width: 30%; /* Adjust as needed */
    height: 40.5%; /* Maintain aspect ratio */
    max-width: 19.5%;
    max-height: 60%;
    font-size: 30px;
    font-family: cursive;
}

.doom_button, .mk_button, .wolf_button, .nt_button{
    padding: 2px 2px 2px;
    border: 0px;
    border-radius: 3px;
    background-color: rgba(107, 89, 85, 0);
    color: rgb(250, 250, 250);
    text-align: center;
    font-size: 35px;
    position: absolute;
    top: 540px; /* Adjust top position */
    left: 105px; /* Adjust left position */
}
.doom_button:hover, .mk_button:hover, .wolf_button:hover, .nt_button:hover{
    background-color: rgb(190, 52, 2);
    color: white;
}

.nt{
    width: 30%; /* Adjust as needed */
    height: 100%; /* Maintain aspect ratio */
    top: 10%; /* Adjust top position */
    left: 10%; /* Adjust left position */
    border-width: 10px;
    border-style: groove;
    border-color: silver;
    z-index: 1;
    transition: opacity 2s;
    max-width: 20%;
    max-height: 50%;
    position: absolute;
    order: 1;
}
.nt_quote{
    position: absolute;
    top: 10%; /* Adjust top position */
    left: 10%; /* Adjust left position */
    background-color: rgb(255, 255, 255);
    padding: 12px;
    border-radius: 5px;
    color: black;
    z-index: 0;
    width: 30%; /* Adjust as needed */
    height: 49.5%; /* Maintain aspect ratio */
    max-width: 19.5%;
    max-height: 60%;
    font-size: 30px;
    font-family: cursive;
}
.doom:hover, .wolf:hover, .mk:hover, .nt:hover{
    opacity: 0;
}

@media (min-width: 768px) {
    /* Adjust the layout for larger screens */
    .doom, .doom_quote {
        width: 80%; /* Adjust for smaller screens */
        top: 20%; /* Adjust top position for smaller screens */
        left: 5%; /* Adjust left position for smaller screens */
    }

    .wolf, .wolf_quote{
        width: 80%; /* Adjust for smaller screens */
        top: 20%; /* Adjust top position for smaller screens */
        left: 40%; /* Adjust left position for smaller screens */
    }

    .mk, .mk_quote{
        width: 80%; /* Adjust for smaller screens */
        top: 20%; /* Adjust top position for smaller screens */
        left: 72%; /* Adjust left position for smaller screens */
    }

    .nt, .nt_quote{
        
        width: 80%; /* Adjust for smaller screens */
        top: 78%; /* Adjust top position for smaller screens */
        left: 40%; /* Adjust left position for smaller screens */
    }

    .doom_button {
        top: 67%; /* Adjust top position for larger screens */
        left: 2%; /* Adjust left position for larger screens */
    }

    .wolf_button{
        top: 67%; /* Adjust top position for larger screens */
        left: 37%; /* Adjust left position for larger screens */
    }

    .mk_button{
        top: 67%; /* Adjust top position for larger screens */
        left: 72%; /* Adjust left position for larger screens */
    }

    .nt_button{
        top: 133%;
        left: 39%;
    }

}


