canvas {
    border: 1px solid black;
}
body {
    background-image: url('../media/images/1000_F_278490728_m8kjSGy7JeiSYbjv7CH8TOtHw9HvrNfT.jpg'); 
    background-repeat: repeat;
    background-size: 150px, 150px;
    color: white;
    margin: 0px; 
    padding: 0px; 
    
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.aspect-ratio-container {
    position: relative;
    width: 100%;
    overflow: auto; 
}
.title {
    text-align: center;
    font-size: 950%;
    margin-top: 10px; 
    font-family: 'VT323', monospace;
    
}

.image_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 500px; 
}
.doom, .wolf, .mk {
    position: absolute;
    width: 30%; 
    height: 43%; 
    top: 10%; 
    left: 10%; 
    z-index: 1;
    transition: opacity 2s;
    max-width: 20%;
    max-height: 45%;
    order: 1;
    background-color: rgb(147, 140, 140); 
    border-radius: 5px; 
    border: 10px ridge #797979; 
    padding: 10px;
}
.doom_quote, .wolf_quote, .mk_quote, .nt_quote {
    position: absolute;
    top: 10%; 
    left: 10%; 
    color: black;
    z-index: 0;
    width: 30%; 
    height: 43%; 
    max-width: 20%;
    max-height: 45%;
    font-size: 30px;
    font-family: 'VT323', monospace;
    background-color: rgb(147, 140, 140); 
    border-radius: 5px; 
    border: 10px ridge #797979; 
    padding: 10px;
}

.doom_button, .mk_button, .wolf_button, .nt_button{
    padding: 2px 2px 2px;
    border: 0px;
    border-radius: 3px;
    background-color: rgb(255, 128, 0);
    color: rgb(250, 250, 250);
    text-align: center;
    font-size: 155%;
    font-family: 'VT323', monospace;
    position: absolute;
    top: 540px; 
    left: 105px; 
}
.doom_button:hover, .mk_button:hover, .wolf_button:hover, .nt_button:hover{
    background-color: rgb(190, 52, 2);
    color: white;
}

.nt{
    width: 30%; 
    height: 100%; 
    top: 10%; 
    left: 10%; 
    border-width: 10px;
    border-style: groove;
    border-color: silver;
    z-index: 1;
    transition: opacity 2s;
    max-width: 20%;
    max-height: 50%;
    position: absolute;
    order: 1;
    background-color: rgb(147, 140, 140); 
    border-radius: 5px; 
    border: 10px ridge #797979; 
    padding: 10px;
}
.nt_quote{
    position: absolute;
    top: 10%; 
    left: 10%; 
    color: black;
    z-index: 0;
    width: 30%; 
    height: 49.5%; 
    max-width: 19.5%;
    max-height: 60%;
    font-size: 30px;
    font-family: cursive;
    background-color: rgb(147, 140, 140); 
    border-radius: 5px; 
    border: 10px ridge #797979; 
    padding: 10px;
}
.doom:hover, .wolf:hover, .mk:hover, .nt:hover{
    opacity: 0;
}

@media (min-width: 768px) {
    .doom, .doom_quote {
        width: 70%; 
        top: 20%; 
        left: 15%;
        transform: translateX(-50%); 
    }

    .wolf, .wolf_quote{
        width: 80%;
        top: 20%; 
        left: 50%;
        transform: translateX(-50%); 
    }

    .mk, .mk_quote{
        width: 80%; 
        top: 20%; 
        left: 85%;
        transform: translateX(-50%); 
    }

    .nt, .nt_quote{
        
        width: 80%; 
        top: 78%; 
        left: 50%; 
        transform: translateX(-50%); 
    }

    .doom_button {
        top: 67%; 
        left: 15%; 
        transform: translateX(-50%); 
    }

    .wolf_button{
        top: 67%; 
        left: 50%;
        transform: translateX(-50%); 
    }

    .mk_button{
        top: 67%; 
        left: 85%; 
        transform: translateX(-50%); 
    }

    .nt_button{
        top: 133%;
        left: 50%;
        transform: translateX(-50%); 
    }

}


